input {
    padding: .5%;
    border: 2px inset black;
    border-radius: 5%;
    background: lightgrey;
}

h1 {
    text-align: center;
    font-size: 3.5vw;
}

h2 {
    font-size: 2vw;
    text-align: center;
}

#form-container {
    font-size: 1.5vw;
    text-align: center;
    border: 3px solid black;
}

input {
    margin: 1%;
}

#modal {
    display: none;
    /* Hidden */
    z-index: 1;
    /* Sit on top */
    /* left: 0;
    top: 0; */
    width: 100%;
    height: 100%;
    overflow: auto;
    /* Enable scroll if needed */
}

#modal-content {
    font-size: 2vw;
    margin: auto;
}

#modal-image {
    margin-left:20%;
    width: 60%;
    height: auto;
}

h2 {
    font-size: 2vw;
}