#container {
    height: 100%;
    background-image: url("images/friends.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

input {
    padding: .5%;
    border: 2px inset black;
    border-radius:5%;
    background:lightgrey;
}

h1 {
    text-align: center;
    font-size: 3.5vw;
}

h2 {
    font-size: 2vw;
    text-align: center;
}

#form-container {
    font-size: 1.5vw;
    text-align: center;
    border: 3px solid black;
}

input {
    margin: 1%;
}